*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Main article section **/

body {
    background-color: #F3F4F7;
}

.subsection_container {
    width: 68%;
    float: right;
    padding: 28vw 5vw 0 3vw;
}

.subsection_image {
    width: 90%;
    margin: 3vw;
    border-radius: 1vw;
}
