*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F3F4F7;
}

/** Navigation **/

.navigation_container {
    max-width: 32%;
    position: fixed;
}

.nav_logo {
    max-width: 75%;
    margin: 5vw;
}

.nav_element {
    font-family: "Century Gothic";
    color: #84B4BD;
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    padding: 5vw 2vw;
}

.nav_element2 {
    font-family: "Century Gothic";
    color: #84B4BD;
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    padding-left: 2vw;
}

.subnav_element {
    font-family: "Century Gothic";
    color: #84B4BD;
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    /*padding: 6vw 2vw;*/
    margin-left: 25px;
}

/** Info section **/

.info_image {
    width: 100%;

}

.info_box {
    position: absolute;
    opacity: 80%;
    text-align: center;
    left: 35%;
    top: 75%
}

.info_text {
    font-family: "Century Gothic";
    color: black;
    background: #F3F4F7;
    font-size: 3.5vw;
    width: 60vw;
    height: 25vw;
    padding: 3.5vw 3vw;
    border-radius: 2vw;
}

/** Language switch section **/

.button {
    position: absolute;
    right: 5%;
}

#en, #da {
    display: none;
}

.button_lang {
    font-family: "Century Gothic";
    font-size: 3vw;
    margin: 3vw 0;
    float: right;
    color: #939393;
    position: relative;
}

.separator {
    font-family: "Century Gothic";
    font-size: 3vw;
    margin: 3vw 1vw;
    float: right;
    color: #939393;
}

.current_lang {
    color: #84B4BD;
}

ul li {
    width: auto;
    display: inline;
}

/** Book button **/

.book_button {
    color: white;
    font-family: "Century Gothic";
    font-size: 5vw;
    background-color: #84B4BD;
    padding: 8px 20px;
    margin: 0vw 16vw;
    border-radius: 1vw;
    box-shadow: 0px;
    border: none;
    display: block;
    text-decoration: none;
    width: 30vw;
}

/** Main article section **/

.main_container {
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 250px;
    position: absolute;
}

.main_heading {
    font-family: "Century Gothic";
    color: #84B4BD;
    font-size: 5vw;
}

.question_heading {
    font-family: "Century Gothic";
    color: #84B4BD;
    font-size: 4vw;
    margin: 3vw 0;
}

.answer_text {
    font-family: "Century Gothic";
    color: #84B4BD;
    font-size: 3.5vw;
}

.main_container {
    width: 68%;
    float: right;
    padding: 0 5vw 9vw 1vw;

}
