*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navigation_container {
    width: 32%;
    position: absolute;
}

.nav_logo {
    max-width: 75%;
    margin: 5vw;
}

.nav_element {
    font-family: "Century Gothic";
    color: #84B4BD;
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    padding: 6vw 2vw;
}

.info_image {
    width: 100%;
}

.info_box {
    position: absolute;
    opacity: 80%;
    text-align: center;
    left: 35%;
    top: 70%
}

.info_text {
    font-family: "Century Gothic";
    color: black;
    background: #F3F4F7;
    font-size: 3.5vw;
    width: 60vw;
    height: 25vw;
    padding: 3.5vw 3vw;
    border-radius: 2vw;
}

.button {
    position: absolute;
    right: 5%;
}

#en, #da {
    display: none;
}

.button_lang {
    font-family: "Century Gothic";
    font-size: 3vw;
    margin: 3vw 0;
    float: right;
    color: #939393;
    position: relative;
}

.separator {
    font-family: "Century Gothic";
    font-size: 3vw;
    margin: 3vw 1vw;
    float: right;
    color: #939393;
}

.current_lang {
    color: #84B4BD;
}

ul li {
    width: auto;
    display: inline;
}
